/auto/platica-git.el
/platica-git.pdf
/platica-git.tex
/platica-git.log
/platica-git.html
/estadosgit.tex
/estados.png
/auto/listingsoverlay.el
/auto/opciones-platica-git.el
/auto/overlaysintikz.el
/listingsoverlay.aux
/listingsoverlay.log
/listingsoverlay.nav
/listingsoverlay.out
/listingsoverlay.pdf
/listingsoverlay.snm
/listingsoverlay.toc
/listingsoverlay.vrb
/opciones-platica-git.pdf
/opciones-platica-git.tex
/overlaysintikz.aux
/overlaysintikz.log
/overlaysintikz.nav
/overlaysintikz.out
/overlaysintikz.pdf
/overlaysintikz.snm
/overlaysintikz.tex
/overlaysintikz.toc
